.emoji-mart,
.emoji-mart * {
  box-sizing: border-box;
  line-height: 1.15;
}

.emoji-mart {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-size: 16px;
  display: inline-block;
  color: #222427;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: #fff;
}

.emoji-mart .emoji-mart-emoji {
  padding: 6px;
  cursor:pointer;
}

.emoji-mart-bar:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.emoji-mart-bar:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.emoji-mart-anchors {
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
  color: #858585;
  line-height: 0;
}

.emoji-mart-anchor {
  position: relative;
  flex: 1;
  text-align: center;
  padding: 12px 4px;
  overflow: hidden;
  transition: color .1s ease-out;
}
.emoji-mart-anchor:hover,
.emoji-mart-anchor-selected {
  color: #464646;
}

.emoji-mart-anchor-selected .emoji-mart-anchor-bar {
  bottom: 0;
}

.emoji-mart-anchor-bar {
  position: absolute;
  bottom: -3px; left: 0;
  width: 100%; height: 3px;
  background-color: #464646;
}

.emoji-mart-anchors i {
  display: inline-block;
  width: 100%;
  max-width: 22px;
}

.emoji-mart-anchors svg {
  fill: currentColor;
}

.emoji-mart-scroll {
  overflow-y: scroll;
  height: 270px;
  padding: 0 6px 6px 6px;
  border: solid #d9d9d9;
  border-width: 1px 0;
}
.inner-mart-scroll{
  padding-right:10px;
  padding-left: 2px;
}

.emoji-mart-search {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 0.3em 0.6em;
    border-radius: 25px;
    outline: 0;
    border: 0;
    background: #e0e0e0;
    border-radius: 5px;
    flex: 0 1 auto;
    margin: 9px 2px 9px 6px;
}

.emoji-mart-category .emoji-mart-emoji span {
  z-index: 1;
  position: relative;
  text-align: center;
  cursor: default;
  cursor: pointer;
}

.emoji-mart-category .emoji-mart-emoji:hover:before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #f4f4f4;
  border-radius: 100%;
  opacity:0;
}
.emoji-mart-category .emoji-mart-emoji{
  border-radius: 5px;
  background-color:transparent;
  transition: .15s ease-in background-color;
}
.emoji-mart-category .emoji-mart-emoji[data-color-index="0"]:hover {background-color:#b4e1fa;}
.emoji-mart-category .emoji-mart-emoji[data-color-index="1"]:hover {background-color:#b7e653;}
.emoji-mart-category .emoji-mart-emoji[data-color-index="2"]:hover {background-color:#F3C3ED;}
.emoji-mart-category .emoji-mart-emoji[data-color-index="3"]:hover {background-color:#FFE1AE;}
.emoji-mart-category .emoji-mart-emoji[data-color-index="4"]:hover {background-color:#f4f4f4;}
.emoji-mart-category .emoji-mart-emoji[data-color-index="5"]:hover {background-color:#fecdb5;}


.emoji-mart-category-label {
  z-index: 2;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.emoji-mart-category-label span {
  display: block;
  width: 100%;
  font-weight: 500;
  padding: 5px 6px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .95);

  text-transform: uppercase;
  font-size: 13px;
  color: #9ca1ad;
}

.emoji-mart-emoji {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.emoji-mart-no-results {
  font-size: 14px;
  text-align: center;
  padding-top: 70px;
  color: #858585;
}
.emoji-mart-no-results .emoji-mart-category-label {
  display: none;
}
.emoji-mart-no-results .emoji-mart-no-results-label {
  margin-top: .2em;
}
.emoji-mart-no-results .emoji-mart-emoji:hover:before {
  content: none;
}


.emoji-mart-title span {
  display: inline-block;
  vertical-align: middle;
}

.emoji-mart-title .emoji-mart-emoji {
  padding: 0;
}

.emoji-mart-title-label {
  color: #999A9C;
  font-size: 26px;
  font-weight: 300;
}

.emoji-mart-skin-swatches {
  font-size: 0;
  padding: 2px 0;
  border-radius: 12px;
  background-color: #fff;

  transform: scale(1);
  transition: .15s linear transform;
  cursor: pointer;
}
.emoji-mart-skin-swatches:hover {
    transform: scale(1.2);
}
.emoji-mart-skin-swatches-opened .emoji-mart-skin-swatch:hover:not(.emoji-mart-skin-swatch-selected){
  transform: scale(1.4);
}
.emoji-mart-skin-swatches-opened.emoji-mart-skin-swatches{
  transform: scale(1);
}
.emoji-mart-skin-swatches-opened .emoji-mart-skin-swatch {
  width: 18px;
  padding: 0 2px;
}
.emoji-mart-skin-swatches-opened .emoji-mart-skin-swatch.emoji-mart-skin-swatch-selected{
  width: 26px;
}

.emoji-mart-skin-swatches-opened .emoji-mart-skin-swatch-selected:after {
  opacity: .75;
}
.emoji-mart-flexer-container{
  display: flex;
  position: relative;
}
.emoji-mart-flexer{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
.emoji-mart-skin-swatch {
  display: inline-block;
  width: 0;
  vertical-align: middle;
  transition-property: width, padding,transform;
  transition-duration: .125s;
  transition-timing-function: ease-out;
}

.emoji-mart-skin-swatch:nth-child(1) { transition-delay: 0 }
.emoji-mart-skin-swatch:nth-child(2) { transition-delay: .03s }
.emoji-mart-skin-swatch:nth-child(3) { transition-delay: .06s }
.emoji-mart-skin-swatch:nth-child(4) { transition-delay: .09s }
.emoji-mart-skin-swatch:nth-child(5) { transition-delay: .12s }
.emoji-mart-skin-swatch:nth-child(6) { transition-delay: .15s }

.emoji-mart-skin-swatch-selected {
  position: relative;
  width: 26px;
  padding: 0 2px;
}
.emoji-mart-skin-swatch-selected:after {
  content: "";
  position: absolute;
  top: 50%; left: 50%;
  width: 4px; height: 4px;
  margin: -2px 0 0 -2px;
  background-color: #fff;
  border-radius: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.emoji-mart-skin {
  display: inline-block;
  width: 100%; padding-top: 100%;
  /*max-width: 12px;*/
  border-radius: 100%;
}

.emoji-mart-skin-tone-1 { background-color: #ffc93a }
.emoji-mart-skin-tone-2 { background-color: #fadcbc }
.emoji-mart-skin-tone-3 { background-color: #e0bb95 }
.emoji-mart-skin-tone-4 { background-color: #bf8f68 }
.emoji-mart-skin-tone-5 { background-color: #9b643d }
.emoji-mart-skin-tone-6 { background-color: #594539 }

.emoji-picker-icon{
  background: url('./picker.png') no-repeat 0 0;
	background-size: 242px 110px;
  height:22px;
  width:22px;
  cursor: pointer;
  transition: .15s linear all;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity:.7;
}
.emoji-picker-icon:hover,.emoji-picker-icon.selected{
  transform: scale(1.4);
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity:1;
}
.emoji-picker-icon.icon-index-0{background-position:0px 0px;} .emoji-picker-icon.icon-index-1{background-position:-22px 0px;} .emoji-picker-icon.icon-index-2{background-position:-44px 0px;} .emoji-picker-icon.icon-index-3{background-position:-66px 0px;} .emoji-picker-icon.icon-index-4{background-position:-88px 0px;} .emoji-picker-icon.icon-index-5{background-position:-110px 0px;} .emoji-picker-icon.icon-index-6{background-position:-132px 0px;} .emoji-picker-icon.icon-index-7{background-position:-154px 0px;} .emoji-picker-icon.icon-index-8{background-position:-176px 0px;} .emoji-picker-icon.icon-index-9{background-position:-198px 0px;} .emoji-picker-icon.icon-index-10{background-position:-220px 0px;} .emoji-picker-icon.icon-index-11{background-position:0px -22px;} .emoji-picker-icon.icon-index-12{background-position:-22px -22px;} .emoji-picker-icon.icon-index-13{background-position:-44px -22px;} .emoji-picker-icon.icon-index-14{background-position:-66px -22px;} .emoji-picker-icon.icon-index-15{background-position:-88px -22px;} .emoji-picker-icon.icon-index-16{background-position:-110px -22px;} .emoji-picker-icon.icon-index-17{background-position:-132px -22px;} .emoji-picker-icon.icon-index-18{background-position:-154px -22px;} .emoji-picker-icon.icon-index-19{background-position:-176px -22px;} .emoji-picker-icon.icon-index-20{background-position:-198px -22px;} .emoji-picker-icon.icon-index-21{background-position:-220px -22px;} .emoji-picker-icon.icon-index-22{background-position:0px -44px;} .emoji-picker-icon.icon-index-23{background-position:-22px -44px;} .emoji-picker-icon.icon-index-24{background-position:-44px -44px;} .emoji-picker-icon.icon-index-25{background-position:-66px -44px;} .emoji-picker-icon.icon-index-26{background-position:-88px -44px;} .emoji-picker-icon.icon-index-27{background-position:-110px -44px;} .emoji-picker-icon.icon-index-28{background-position:-132px -44px;} .emoji-picker-icon.icon-index-29{background-position:-154px -44px;} .emoji-picker-icon.icon-index-30{background-position:-176px -44px;} .emoji-picker-icon.icon-index-31{background-position:-198px -44px;} .emoji-picker-icon.icon-index-32{background-position:-220px -44px;} .emoji-picker-icon.icon-index-33{background-position:0px -66px;} .emoji-picker-icon.icon-index-34{background-position:-22px -66px;} .emoji-picker-icon.icon-index-35{background-position:-44px -66px;} .emoji-picker-icon.icon-index-36{background-position:-66px -66px;} .emoji-picker-icon.icon-index-37{background-position:-88px -66px;} .emoji-picker-icon.icon-index-38{background-position:-110px -66px;} .emoji-picker-icon.icon-index-39{background-position:-132px -66px;} .emoji-picker-icon.icon-index-40{background-position:-154px -66px;} .emoji-picker-icon.icon-index-41{background-position:-176px -66px;} .emoji-picker-icon.icon-index-42{background-position:-198px -66px;} .emoji-picker-icon.icon-index-43{background-position:-220px -66px;} .emoji-picker-icon.icon-index-44{background-position:0px -88px;} .emoji-picker-icon.icon-index-45{background-position:-22px -88px;} .emoji-picker-icon.icon-index-46{background-position:-44px -88px;} .emoji-picker-icon.icon-index-47{background-position:-66px -88px;} .emoji-picker-icon.icon-index-48{background-position:-88px -88px;} .emoji-picker-icon.icon-index-49{background-position:-110px -88px;}
