.emoji-picker,
.emoji-picker * {
  box-sizing: border-box;
}

.emoji-picker {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-size: 16px;
  display: inline-block;
  color: #222427;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.emoji-picker-bar:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.emoji-picker-bar:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.emoji-picker-anchors {
  display: flex;
  justify-content: space-between;
  padding: 0 6px;
  color: #858585;
}

.emoji-picker-anchor {
  position: relative;
  flex: 1;
  text-align: center;
  padding: 12px 4px;
  overflow: hidden;
  transition: color .2s ease-out;
}

.emoji-picker-anchor-selected {
  color: #ae65c5;
}
.emoji-picker-anchor-selected .emoji-picker-anchor-bar {
  bottom: 0;
}

.emoji-picker-anchor-bar {
  position: absolute;
  bottom: -3px; left: 0;
  width: 100%; height: 3px;
  background-color: #ae65c5;
  transition: bottom .2s ease-out;
}

.emoji-picker-anchors i {
  display: inline-block;
  width: 100%;
  max-width: 22px;
}

.emoji-picker-anchors svg {
  fill: currentColor;
}

.emoji-picker-scroll {
  overflow: scroll;
  height: 270px;
  padding: 0 6px 6px 6px;
  border: solid #d9d9d9;
  border-width: 1px 0;
}

.emoji-picker-search {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: .2em .6em;
  margin-top: 6px;
  border-radius: 25px;
  border: 1px solid #d9d9d9;
  outline: 0;
}

.emoji-picker-category .emoji-picker-emoji:hover {
  background-color: #f4f4f4;
}

.emoji-picker-category-label {
  position: relative;
  position: -webkit-sticky;
  top: 0;
}

.emoji-picker-category-label span {
  display: block;
  width: 100%;
  font-weight: 500;
  padding: 5px 6px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .95);
}

.emoji-picker-emoji {
  display: inline-block;
  padding: 6px;
  border-radius: 100%;
}

.emoji-picker-no-results {
  font-size: 14px;
  text-align: center;
  padding-top: 70px;
  color: #858585;
}
.emoji-picker-no-results span {
  display: inline-block;
  vertical-align: middle;
}

.emoji-picker-preview {
  position: relative;
  height: 70px;
}

.emoji-picker-preview-emoji,
.emoji-picker-preview-data {
  position: absolute;
  top: 12px;
}

.emoji-picker-preview-emoji {
  left: 12px;
}

.emoji-picker-preview-data {
  top: 50%;
  left: 68px; right: 12px;
  transform: translateY(-50%);
  word-break: break-word;
}

.emoji-picker-preview-name {
  font-size: 14px;
}

.emoji-picker-preview-shortname {
  font-size: 12px;
  color: #888;
}
.emoji-picker-preview-shortname + .emoji-picker-preview-shortname {
  margin-left: .5em;
}

.emoji-picker-title span {
  display: inline-block;
  vertical-align: middle;
}

.emoji-picker-title .emoji-picker-emoji {
  padding: 0;
}

.emoji-picker-title-label {
  font-size: 26px;
  font-weight: 500;
}
