{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    "transform-react-remove-prop-types",
    [
      "transform-define", "scripts/define.js"
    ],
    [
      "module-resolver",
      {
        "alias": {
          "babel-runtime/core-js/object/get-prototype-of": "./src/polyfills/objectGetPrototypeOf",
          "babel-runtime/helpers/extends": "./src/polyfills/extends",
          "babel-runtime/helpers/inherits": "./src/polyfills/inherits",
          "babel-runtime/helpers/createClass": "./src/polyfills/createClass",
          "babel-runtime/helpers/possibleConstructorReturn": "./src/polyfills/possibleConstructorReturn"
        }
      }
    ]
  ]
}
