:host {
  display: flex;
  width: min-content;
  height: 435px;
  min-height: 230px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  --border-radius: 10px;
  --category-icon-size: 18px;
  --font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  --font-size: 15px;

  --preview-placeholder-size: 21px;
  --preview-title-size: 1.1em;
  --preview-subtitle-size: .9em;

  --shadow-color: 0deg 0% 0%;
  --shadow:
    0.3px 0.5px 2.7px hsl(var(--shadow-color) / 0.14),
    0.4px 0.8px 1px -3.2px hsl(var(--shadow-color) / 0.14),
    1px 2px 2.5px -4.5px hsl(var(--shadow-color) / 0.14);
}

[data-theme="light"] {
  --em-rgb-color: var(--rgb-color, 34, 36, 39);
  --em-rgb-accent: var(--rgb-accent, 34, 102, 237);
  --em-rgb-background: var(--rgb-background, 255, 255, 255);
  --em-rgb-input: var(--rgb-input, 255, 255, 255);
  --em-color-border: var(--color-border, rgba(0, 0, 0, .05));
  --em-color-border-over: var(--color-border-over, rgba(0, 0, 0, .1));
}

[data-theme="dark"] {
  --em-rgb-color: var(--rgb-color, 222, 222, 221);
  --em-rgb-accent: var(--rgb-accent, 58, 130, 247);
  --em-rgb-background: var(--rgb-background, 21, 22, 23);
  --em-rgb-input: var(--rgb-input, 0, 0, 0);
  --em-color-border: var(--color-border, rgba(255, 255, 255, .1));
  --em-color-border-over: var(--color-border-over, rgba(255, 255, 255, .2));
}

#root {
  --color-a: rgb(var(--em-rgb-color));
  --color-b: rgba(var(--em-rgb-color), .65);
  --color-c: rgba(var(--em-rgb-color), .45);

  --padding: 12px;
  --padding-small: calc(var(--padding) / 2);

  --sidebar-width: 16px;

  --duration: 225ms;
  --duration-fast: 125ms;
  --duration-instant: 50ms;
  --easing: cubic-bezier(.4, .0, .2, 1);

  @media (prefers-reduced-motion) {
    --duration: 0;
    --duration-fast: 0;
    --duration-instant: 0;
  }

  position: relative;
  width: 100%;
  text-align: left;
  border-radius: var(--border-radius);
  background-color: rgb(var(--em-rgb-background));

  &[data-menu] {
    button { cursor: auto }
    .menu button { cursor: pointer }
  }
}

:host, #root, input, button {
  color: rgb(var(--em-rgb-color));
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  margin: 0; padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

.relative { position: relative }

.flex { display: flex }
.flex-auto { flex: 0 0 auto }
.flex-center { justify-content: center; }
.flex-column { flex-direction: column }
.flex-grow { flex: 1 1 auto }
.flex-middle { align-items: center }
.flex-wrap { flex-wrap: wrap }

.padding { padding: var(--padding) }
.padding-t { padding-top: var(--padding) }
.padding-lr { padding-left: var(--padding); padding-right: var(--padding) }
.padding-r { padding-right: var(--padding) }
.padding-small { padding: var(--padding-small) }
.padding-small-b { padding-bottom: var(--padding-small)}
.padding-small-lr { padding-left: var(--padding-small); padding-right: var(--padding-small)}
.margin { margin: var(--padding) }
.margin-r { margin-right: var(--padding) }
.margin-l { margin-left: var(--padding) }
.margin-small-l { margin-left: var(--padding-small) }
.margin-small-lr { margin-left: var(--padding-small); margin-right: var(--padding-small); }

.align-l { text-align: left }
.align-r { text-align: right }

.color-a { color: var(--color-a) }
.color-b { color: var(--color-b) }
.color-c { color: var(--color-c) }

.ellipsis {
  white-space: nowrap;
  max-width: 100%;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  cursor: pointer;
  color: rgb(var(--em-rgb-accent));

  &:hover { text-decoration: underline }
}

.spacer { height: 10px }

[dir="rtl"] .scroll {
  padding-left: 0;
  padding-right: var(--padding);
}

.scroll {
  overflow: auto;
  overflow-x: hidden;
  padding-right: 0;

  &::-webkit-scrollbar {
    width: var(--sidebar-width);
    height: var(--sidebar-width);
  }

  &::-webkit-scrollbar-track {
    border: 0;
  }

  &::-webkit-scrollbar-button {
    width: 0; height: 0;
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    min-height: 20%;
    min-height: 65px;
    border: 4px solid rgb(var(--em-rgb-background));
    border-radius: 8px;

    &:hover {
      background-color: var(--em-color-border-over) !important;
    }
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--em-color-border);
    }
  }
}

.sticky {
  position: sticky;
  z-index: 1;
  top: -1px;
  font-weight: 500;
  background-color: rgba(var(--em-rgb-background), .9);
  backdrop-filter: blur(4px);
}

[dir="rtl"] .search {
  input[type="search"] {
    padding: 10px 2.2em 10px 2em;
  }

  .loupe {
    right: .7em;
    left: auto;
  }

  .delete {
    left: .7em;
    right: auto;
  }
}

.search {
  z-index: 2;
  position: relative;

  input, button {
    font-size: calc(var(--font-size) - 1px);
  }

  input[type="search"] {
    display: block;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px 2em 10px 2.2em;
    border-radius: 10px;
    background-color: var(--em-color-border);
    transition-duration: var(--duration);
    transition-property: background-color, box-shadow;
    transition-timing-function: var(--easing);

    &::placeholder {
      color: inherit;
      opacity: .6;
    }

    &,
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      appearance: none;
    }

    &:focus {
      background-color: rgb(var(--em-rgb-input));
      box-shadow: inset 0 0 0 1px rgb(var(--em-rgb-accent)),
                  0 1px 3px rgba(65,69,73,.2);
    }
  }

  .icon {
    z-index: 1;
    position: absolute;
    top: 50%;
    color: rgba(var(--em-rgb-color), .7);
    transform: translateY(-50%);
  }

  .loupe { left: .7em; pointer-events: none; }
  .delete { right: .7em }
}

svg {
  fill: currentColor;
  width: 1em; height: 1em;
}

button {
  appearance: none;
  cursor: pointer;
  color: currentColor;
  border: 0;
  background-color: transparent;
}

#nav {
  z-index: 2;
  position: relative;
  padding-top: 12px; padding-bottom: 12px;
  padding-right: var(--sidebar-width);

  button {
    color: var(--color-b);
    transition: color var(--duration) var(--easing);

    &:hover { color: var(--color-a) }
  }

  svg, img {
    width: var(--category-icon-size);
    height: var(--category-icon-size);
  }

  &[dir="rtl"] .bar {
    right: 0;
    left: auto;
  }

  .bar {
    position: absolute;
    bottom: -12px; left: 0;
    width: 100%; height: 3px;
    background-color: rgb(var(--em-rgb-accent));
    border-radius: 3px 3px 0 0;
    transition: transform var(--duration) var(--easing);
  }

  button[aria-selected] {
    color: rgb(var(--em-rgb-accent));
  }
}

#preview {
  z-index: 2;
  position: relative;
  padding: calc(var(--padding) + 4px) var(--padding);
  padding-right: var(--sidebar-width);

  .preview-placeholder { font-size: var(--preview-placeholder-size) }
  .preview-title { font-size: var(--preview-title-size) }
  .preview-subtitle { font-size: var(--preview-subtitle-size) }
}

#nav, #preview {
  &:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    height: 2px;
  }

  &[data-position="top"] {
    &:before {
      top: 100%;
      background: linear-gradient(to bottom, var(--em-color-border), transparent);
    }
  }

  &[data-position="bottom"] {
    &:before {
      bottom: 100%;
      background: linear-gradient(to top, var(--em-color-border), transparent);
    }
  }
}

.category {
  &:last-child {
    min-height: calc(100% + 1px);
  }

  button {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;

    & > * { position: relative }

    .background {
      position: absolute;
      inset: 0;
      opacity: 0;
      background-color: var(--em-color-border);
      transition: opacity var(--duration-fast) var(--easing) var(--duration-instant);
    }

    &:hover .background {
      transition-duration: var(--duration-instant);
      transition-delay: 0ms;
    }

    &[aria-selected] .background { opacity: 1 }
    &[data-keyboard] .background { transition: none }
  }
}

.row {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}

.skin-tone-button {
  border-radius: 100%;
  border: 1px solid transparent;

  &:hover { border-color: var(--em-color-border) }

  &:active { .skin-tone { transform: scale(.85) !important } }
             .skin-tone { transition: transform var(--duration) var(--easing) }

  &[aria-selected] {
    border-left-width: 0;
    border-right-width: 0;
    border-top-color: rgba(0,0,0, .05);
    border-bottom-color: transparent;
    background-color: var(--em-color-border);

    .skin-tone { transform: scale(.9) }
  }
}

.menu {
  z-index: 2;
  position: absolute;
  white-space: nowrap;
  padding: 4px;
  border: 1px solid var(--em-color-border);
  background-color: rgba(var(--em-rgb-background), .9);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0, .05);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--easing);

  &.hidden { opacity: 0 }

  &[data-position="bottom"] {
    transform-origin: bottom right;
    &.hidden { transform: scale(.9) rotate(-3deg) translateY(5%) }
  }

  &[data-position="top"] {
    transform-origin: top right;
    &.hidden { transform: scale(.9) rotate(3deg) translateY(-5%) }
  }


  input[type="radio"] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px; height: 1px;
    padding: 0; margin: 0;
    border: 0;

    &:checked + .option {
      box-shadow: 0 0 0 2px rgb(var(--em-rgb-accent));
    }
  }
}

.option {
  width: 100%;
  padding: 4px 6px;
  border-radius: 6px;

  &:hover {
    color: #fff;
    background-color: rgb(var(--em-rgb-accent));
  }
}

.skin-tone {
  position: relative;
  display: inline-block;
  width: 16px; height: 16px;
  border-radius: 100%;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100%;
    border: 1px solid rgba(0,0,0, .8);
    mix-blend-mode: overlay;
    box-shadow: inset 0 -2px 3px #000,
                inset 0 1px 2px #fff;
    background: linear-gradient(to bottom, rgba(255,255,255, .2), transparent);
  }
}

.skin-tone-1 { background-color: #ffc93a }
.skin-tone-2 { background-color: #ffdab7 }
.skin-tone-3 { background-color: #e7b98f }
.skin-tone-4 { background-color: #c88c61 }
.skin-tone-5 { background-color: #a46134 }
.skin-tone-6 { background-color: #5d4437 }

[data-index] {
  justify-content: space-between;
}

[data-emoji-set="twitter"] {
  .skin-tone:after {
    border-color: rgba(0,0,0, .5);
    box-shadow: none;
  }

  .skin-tone-1 { background-color: #FADE72 }
  .skin-tone-2 { background-color: #F3DFD0 }
  .skin-tone-3 { background-color: #EED3A8 }
  .skin-tone-4 { background-color: #CFAD8D }
  .skin-tone-5 { background-color: #A8805D }
  .skin-tone-6 { background-color: #765542 }
}

[data-emoji-set="google"] {
  .skin-tone:after {
    box-shadow: inset 0 0 2px 2px rgba(0,0,0, .4);
  }

  .skin-tone-1 { background-color: #F5C748 }
  .skin-tone-2 { background-color: #F1D5AA }
  .skin-tone-3 { background-color: #D4B48D }
  .skin-tone-4 { background-color: #AA876B }
  .skin-tone-5 { background-color: #916544 }
  .skin-tone-6 { background-color: #61493F }
}

[data-emoji-set="facebook"] {
  .skin-tone:after {
    border-color: rgba(0,0,0, .4);
    box-shadow: inset 0 -2px 3px #000,
                inset 0 1px 4px #fff;
  }

  .skin-tone-1 { background-color: #F5C748 }
  .skin-tone-2 { background-color: #F1D5AA }
  .skin-tone-3 { background-color: #D4B48D }
  .skin-tone-4 { background-color: #AA876B }
  .skin-tone-5 { background-color: #916544 }
  .skin-tone-6 { background-color: #61493F }
}
